header {
  margin: 0 auto;
  align-content: center;
  font-size: 1.25em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

body {
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
}

h1,
h3 {
  text-align: center;
}

.scoreTable {
  width: 30%;
  margin: 0 auto;
}
